*~
\#*

.cache
.etc
.var
early-init.el
init.el
user.el
lisp
personal
.tangle
.tangle-stamp

# snippets
eln-cache
Secret
.env.el
.aider.*
*.patch
*.py
.mypy_cache

.aider*
tree-sitter
straight
.markdown-preview.html
eshell
memory.log
bookmarks.eld
history
org-agenda-files.cache
