*~
\#*

.cache
.etc
.var
early-init.el
init.el
user.el
lisp
personal

.tangle
.tangle-stamp
.aider.*
.aider*
.markdown-preview.html
.org-id-locations
tree-sitter
eln-cache
eshell
bookmarks.eld
history
emms
abbrev_defs
org-agenda-files.cache

.env.el
.mypy_cache
*.patch
*.py

README.pdf
README.tex
Emacs config generation promp.md
emacs-config-deepdive.md
messages-last-ts
parts
memory.log
NOTE.txt
