*~
\#*

.cache
.etc
.var
early-init.el
init.el
user.el
lisp
personal

tree-sitter
eln-cache

.tangle
.tangle-stamp
README.pdf
README.tex
messages-last-ts
parts

.env.el
.aider.*
.mypy_cache
.aider*
.markdown-preview.html
*.patch
*.py
memory.log
eshell
bookmarks.eld
history
org-agenda-files.cache
